@media only screen {
	.blog {
		position: relative;
	}
	.blog-posts-categories {
		text-align: center;
		margin: 4rem auto;
		padding: 2rem 0;
		box-shadow: inset 0 0 1rem transparentize($offblack, 0.8);
		&:nth-of-type(odd) {
			background: $lightgrey;
		}
		&:nth-of-type(even) {
			background: transparentize($lightgrey, 0.5);
		}
	}
	.blog-posts-categories-title {
		font-size: 2.8rem;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		margin-bottom: 2rem;
		a, a:visited, a:hover {
			text-decoration: none;
			padding: 5px;	
			color: $blue;
			border-bottom: 1px solid transparentize( $blue, 0.5 );
		}
	}
	.blog-posts {
		text-align: center;
	}
	.blog-posts-post {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 100%;
		height: 60vw;
		margin: 2rem 0;
		overflow: hidden;
		box-shadow: 0 0 2rem transparentize(black, 0.33);
		&:nth-child(odd) {
			.blog-posts-post-content {
				text-align: right;
			}
		}
	}
	.blog-posts-post-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.blog-posts-post-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: left;
		padding: 5%;
		background: transparentize($offblack, 0.5);
	}
	a.blog-posts-post-header{
		font-weight: 700;
		letter-spacing: 1px;
		color: $lightgrey;
		font-size: 3rem;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid $blue;
		@include transition(color 0.3s ease);
		&:hover, &:visited:hover {
			color: $blue;
		}
		&:visited {
			color: $lightgrey;
		}
	}
	.blog-posts-post-date{
		font-size: 1.6rem;
		font-weight: 400;
		margin-top: 7px;
		color: transparentize($lightgrey, 0.33);
	}
	.blog-sidebar {
		position: relative;
		width: 100%;
		margin: 2rem 0;
		text-align: center;
		h2, li {
			display: none;
		}
	}
} // end mobile query
@media only screen and (min-width: $medium){

	.blog-posts-post {
		max-width: 240px;
		max-height: 240px;
		margin: 2rem;
		box-shadow: 0 0 1rem $lightgrey;
	}
} // end tablet query
@media only screen and (min-width: $large){
	.category,
	.blog {
		width: 90%;
		max-width: none;
	}
	.category-posts,
	.blog-posts {
		text-align: center;
		width: 75%;
		margin: 0 auto;
		padding: 4rem 0;
		margin-left: 25%;
	}
	.blog-posts-post {
		max-width: 360px;
		max-height: 240px;
	}
	.blog-sidebar {
		position: absolute;
		width: 20%;
		top: 20vh;
		left: -5%;
		border-right: 1px solid lightgrey;
		h2 {
			margin-top: 4rem;
			margin-bottom: 2rem;
			text-transform: uppercase;
			font-weight: 400;
			&:nth-of-type(1) {
				margin-top: 0;
			}
		}
		li {
			display: inline-block;
			min-width: 66%;
			margin: 1rem auto;
			padding: 5px;
			cursor: pointer;
			border-bottom: 2px solid $lightgrey;
			@include transition(all 0.4s ease);
			&:hover {
				border-bottom: 2px solid transparentize($blue, 0.5);
				min-width: 80%;
			}
		}
		a, a:visited {
			color: $blue;
			text-decoration: none;
			font-size: 1.8rem;
		}
	}


	.category {
		margin: 8rem auto;
		min-height: 90vh;
		width: 90%;
		position: relative;
	}

	.category-header {
		font-size: 7.2rem;
	}


}