@media only screen {


	
	.blog {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin: 4rem auto;
		padding: 4rem 0;
	}
	
	.blog-posts {
		text-align: center;
		width: 100%;
	}

	.blog-posts-categories {
		margin: 4rem auto;
		padding: 4rem 0;
		&:nth-of-type(odd) {
			background: $lightgrey;
		}
		&:nth-of-type(even) {
			background: transparentize($lightgrey, 0.66);
		}
	}
	.blog-posts-categories-title {
		font-size: 2.8rem;
		color: $blue;
		text-transform: uppercase;
		font-weight: 700;
	}


	.blog-posts-post {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 100%;
		height: 66vw;
		margin: 2rem 0;
		overflow: hidden;
		box-shadow: 0 0 2rem transparentize(black, 0.33);

		&:nth-child(odd) {
			.blog-posts-post-content {
				text-align: right;
			}
		}
	}

	.blog-posts-post-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.blog-posts-post-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: left;
		padding: 5%;
		background: transparentize(black, 0.6);
	}

	a.blog-posts-post-header{
		font-weight: 700;
		letter-spacing: 1px;
		color: $lightgrey;
		font-size: 3rem;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid $blue;
		@include transition(color 0.3s ease);
		&:hover {
			color: $blue;
		}
		&:visited {
			color: $lightgrey;
		}
	}

	.blog-posts-post-date{
		font-size: 1.6rem;
		font-weight: 400;
		margin-top: 7px;
		color: transparentize($lightgrey, 0.33);
	}


	.blog-sidebar {
		display: none;
	}






}
@media only screen and (min-width: $medium){

	.blog-posts-post {
		max-width: 240px;
		max-height: 240px;
		margin: 2rem;
		box-shadow: 0 0 1rem lightgrey;
	}


}

@media only screen and (min-width: $large){
	

	.blog {
		width: 90%;
	}
	.blog-header {
		width: 80%;
		margin-left: 20%;
	}
	
	.category-posts,
	.blog-posts {
		width: 75%;
		margin: 0 auto;
		margin-left: 25%;
		// @include transform(translateX(5vw));
	}

	.blog-test {
		
	}

	.blog-sidebar {
		display: block;
		position: absolute;
		top: 25vh;
		left: 0;
		text-align: center;
		border-right: 1px solid lightgrey;
		width: 20%;
		list-style-type: none;

		h2 {
			margin-bottom: 4rem;
			text-transform: uppercase;
			font-weight: 400;

		}
		li {
			text-align: right;
			margin-right: 2rem;
			margin-top: 1rem;
			cursor: pointer;
			border-bottom: 1px solid lightgrey;
			padding: 0.5rem 0;
			font-size: 1.8rem;
			letter-spacing: 1px;
		}
	}


	.category {
		margin: 8rem auto;
		min-height: 90vh;
	}


}