@media only screen {
	.book-an-appointment{
		.section-header{
			font-size: 3.6rem;
		}
		.section{
			padding: 40px 0px;
		}
	}
	div.healcode{
		.healcode-title-text{
			visibility: hidden;
		}
		.header{
			position: relative;
			z-index: 1;
			display: block;
		}
		div a.hc-button,
		div input.hc-button{
			font-size: 1.5rem;
			padding: 10px 20px;
			border-radius: 4px;
			font-family: 'Proxima Nova';
		}
		#hc-find-appt{
			background-color: $blue;
			@include transition(background-color 0.4s ease);
			&:hover{
				color: white;
				background-color: darken($blue, 10%);
			}
		}
		&.appointments .trainer-label{
			font-size: 2rem;
			text-transform: uppercase;
			margin: 10px 0px 5px 0px;
			a{
				text-decoration: none;
				font-size: 2rem;
				font-weight: 600;
				color: $offblack;
			}
		}
		&.list_view div.header h1{
			font-size: 2rem;
		}
		.pre-filters div:nth-child(2){
			width: auto;
    	    position: relative;
    	    display: inline-block;
		    &:after{
		    	content: '\25BC';
		    	position: absolute;
		    	right: 17px;
		    	top: 5px;
		    	display: inline-block
		    }
		    select{
	    		-webkit-appearance: none;
	    	    padding: 5px 30px 5px 10px;
	    	    border-radius: 4px;
	    	    font-size: 1.2rem;
	    	    width: auto;
	    	    position: relative;
		    }
		}
	}
}

@media only screen and (min-width: $medium){
	.book-an-appointment{
		.section-header{
			font-size: 5rem;
		}
	}
}

@media only screen and (min-width: $large){
	.book-an-appointment{
		.section-header{
			font-size: 11rem;
		}
		.section{
			padding: 70px 0px;
		}
	}
}
