@media only screen{

	.dreamscapes {
		max-width: none;
		text-align: center;
		width: 100%;
		padding: 4rem 0 0 0;
		margin: 4rem auto 0 auto;
	}

	.dreamscapes-posts-post {
		background-size: cover;
	}
	.dreamscapes-post-content {
		text-align: center !important;
	}

	.dreamscapes-hero {
		width: 100%;
		height: 50vh;
		position: relative;
		background-size: cover;
	}
	.dreamscapes-main {
		margin: 4rem auto 0 auto;
		margin-top: 0;
		width: 100%;
	}
	.dreamscapes-main-content {
		width: 100%;
		background: transparentize( $offblack, 0.9 );
		padding: 4rem 0;
		p {
			display: inline-block;
			margin: 1rem auto;
			width: 80%;
			text-align: left;
			line-height: 150%;
			font-size: 2rem;
		}
	}

	.dreamscapes-header {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
		color: $lightgrey;
		background: transparentize( $offblack, 0.5 );
		padding: 4rem 8rem;
		display: inline-block;
		border-radius: 2rem 0;
	}
	.dreamscapes-posts{
		margin: 0 40px;
		padding: 4rem 0;
	}
	.dreamscapes-post-content{
		a{
			border-bottom: none;
		}
	}

}
@media only screen and (min-width: $medium){


	.dreamscapes-posts {
		padding: 2rem;
		width: 100%;
		font-size: 0;
		margin: 0 auto;
		max-width: $medium;
	}
	.dreamscapes-posts-post {
		width: calc(50% - 4rem);
		max-height: 240px;
		max-width: none;
		margin: 2rem;
		display: inline-block;
	}




}
@media only screen and (min-width: $large){
	.dreamscapes-posts{
		max-width: $large;
	}
	.dreamscapes-posts-post{
		width: calc(calc(100% / 3) - 4rem);
	}
}