@media only screen {
	.hero{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	.hero-button{
		position: absolute;
		bottom: 20%;
		left: 50%;
		@include transform(translateX(-50%));
		z-index: 5;
		display: inline-block;
		color: white;
		background-color: $blue;
		text-align: center;
		text-decoration: none;
		padding: 20px;
		width: calc(100% - 40px);
		border-radius: 4px;
		font-size: 2.1rem;
		max-width: 320px;
	}
	.hero-video{
		height: auto;
		width: auto;
		min-width: 100%;
		min-height: 100%;
		@include transform(translateX(-50%));
		left: 50%;
		position: relative;
	}
	.hero-image {
		width: 100%;
		height: 100%;
		@include transform(translateX(-50%));
		left: 50%;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		
	}

}

@media only screen and (min-width: $medium){
	.hero-button{
		font-size: 2.4rem;
	}
}

@media only screen and (min-width: $large){
	
}
