@media only screen {
	.homepricing{
		background-color: $darkgrey;
	}
	.homepricing-header{
		color: white;
		text-align: center;
		width: auto;
	}
	.homepricing-subheader{
		color: white;
		text-align: center;
		font-size: 2rem;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
	}
	.homepricing-module{
		box-shadow: $boxshadow;
		background-color: $lightgrey;
		border-radius: 4px;
		width: calc(100% - 40px);
		margin: 0 auto 40px auto;
	}
	.homepricing-module-header{
		text-transform: uppercase;
		color: white;
		padding: 15px 0px;
		text-align: center;
		font-size: 1.8rem;
		letter-spacing: 1px;
		font-weight: 300;
		border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	}
	.homepricing-module-grid{
		padding: 15px;
	}
	.homepricing-module-grid-item{
		padding: 10px 0 15px 0;
		&:not(:last-child){
			border-bottom: 1px solid lightgrey;
		}
	}
	.homepricing-module-grid-item-content-description{
		text-transform: uppercase;
		color: grey;
		font-weight: 500;
		sup{
			vertical-align: super;
			position: relative;
			top: 2px;
			font-size: 1.2rem;
		}
	}

	.homepricing-nonmember {
		width: calc( 90% - 40px);
		max-width: 66vw;
		background-color: transparentize( white, 0.2 );
		box-shadow: none;
	}


	.homepricing-nonmember-header{
		background-color: $offblack;
		color: #b2b2b2;
	}
	.homepricing-nonmember-grid{
		background-color: #cacaca;
	}
	.homepricing-nonmember-grid-item-content-price{
		color: $offblack;
		font-size: 5.2rem;
	}
	.homepricing-nonmember-grid-item-content-description{
		font-size: 1.8rem;
	}
	.homepricing-member-header{
		background-color: $yellow;
	}
	.homepricing-member-grid-item-content-price{
		color: $darkyellow;
		color: #F9AC00;
		font-size: 6rem;
	}

	.homepricing-member-header{
		position: relative;
		&:before,
		&:after{
			content: "";
			position: absolute;
			display: block;
			bottom: 0px;
			border: 15px solid $darkyellow;
			z-index: 0;
		}
	}
	.homepricing-member-header{
		&:before{
			left: -30px;
			border-right-width: 15px;
			border-left-color: transparent;
		}
	}
	.homepricing-member-header{
		&:after{
			right: -30px;
			border-left-width: 15px;
			border-right-color: transparent;
		}
	}

	
	/*
		 Kyle MAKE FIX THIS
 	 */
	.homepricing-member-grid-item {
		&:last-child {
			.homepricing-member-grid-item-content-price {
				font-size: 3.6rem;
				text-transform: uppercase;
				margin-bottom: 1rem;
			}
			.homepricing-module-grid-item-content-description {
				margin: 0.5rem 0;
			}
		}
	}

					




} // end mobile query
@media only screen and (min-width: $medium){
	.homepricing-module-header{
		font-size: 2.4rem;
	}
	.homepricing-module-grid-item-content-price{
		font-size: 6.8rem;
	}
	.homepricing-module-grid-item-content-description{
		font-size: 2.1rem;
	}

	.homepricing-member-grid-item {
		&:last-child {
			.homepricing-member-grid-item-content-description {
				font-size: 1.8rem;
			}
		}
	}


} // end medium query
@media only screen and (min-width: $large){


	.homepricing-module{
		max-width: 1075px;
		margin: 80px auto 40px auto;
	}
	.homepricing-module-header{
		font-size: 3rem;
		letter-spacing: 3px;
		font-weight: 400;
	}
	.homepricing-module-grid{
		font-size: 0;
	}
	.homepricing-module-grid-item{
		display: inline-block;
		vertical-align: top;
		padding: 40px 20px;
		margin: 0 auto;
		&:not(:last-child) {
			border-bottom: 1px solid transparent;
		}
	}

	.homepricing-module-grid-item-content-description{
		font-size: 1.6rem;
	}
	.homepricing-nonmember-grid-item{
		width: calc(calc(100% / 3) - 41px);
		&:not(:last-child) {
			border-bottom: 1px solid transparent;
			border-right: 1px solid lightgrey;
		}
	}




	.homepricing-member-grid-item{
		// width: calc(25% - 41px);

		&:not(:last-child) {
		    border-bottom: 0px solid lightgrey;
		}
		// Borders Time!
		&:first-child {
			border-bottom: 1px solid lightgrey;
		}
		&:last-child {
			border-top: 1px solid lightgrey;
		}
	}



	.homepricing-member-header{
		&:before,
		&:after{
			content: "";
			position: absolute;
			display: block;
			bottom: 0px;
			border: 20px solid $darkyellow;
			z-index: 0;
		}
	}
	.homepricing-member-header{
		&:before{
			left: -35px;
			border-right-width: 15px;
			border-left-color: transparent;
		}
	}
	.homepricing-member-header{
		&:after{
			right: -35px;
			border-left-width: 15px;
			border-right-color: transparent;
		}
	}

	.homepricing-member-grid-item {
		// make the last grid item full width?
		&:first-child {
			min-width: 100%;
		}
		&:last-child {
			min-width: 80%;
			h3 {
				font-size: 2rem;
			}
		}
	}
			



} // end media query