@media only screen {
	.pricing-wrapper{
		max-width: 1600px;
		text-align: center;
		margin-top: 20px;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	

	.pricing {
		> h1 {
			margin: 4rem auto;
		}
	}
	
}
