@media only screen {

	.testimonials-header {
		width: auto;
		margin: 0 auto;
	}
	.testimonials-posts {
	}
	.testimonials-posts-post {
	}
	.testimonials-posts-title{
		font-size: 2rem;
	}
	.testimonials-posts-post-placeholder {
		width: 100%;
		height: 100%;
	}
	.testimonials-posts-post-iframe {
		width: 100%;
		height: 100%;
	}
	.testimonials-posts-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	/* 
		Home Testimonials
			Move to its own SCSS file; but for now its good to see these 'linked' modules together
	 */
	.hometestimonials-section { // top-level for the module;
		padding: 4rem 0;
	}

	.hometestimonials-section-slide {
		padding: 2rem;
		text-align: center;
		overflow: hidden;
		box-shadow: 0 0 1rem transparentize( $offblack, 0.5 );
	}
	.hometestimonials-section-slide-header {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 2.8rem;
		padding: 1rem 0;
		margin: 1rem 0;
	}
	.hometestimonials-section-slide-iframe {
		iframe {
			width: 100%;
			object-fit: cover;
		}
	}

	// swiper.js layout modifications:
	.swiper-container {
		margin: 0 auto;
		padding: 4rem;
	}
	.swiper-wrapper {

		// use flexbox for vertical center 
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.swiper-button-next {
		right: 0;
	}
	.swiper-button-prev {
		left: 0;
	}
}
@media only screen and (min-width: $medium) {
	.testimonials-posts-post {
		display: inline-block;

	}
	
	/* 
		Hometestimonials Section;
	*/
	
	.swiper-container {
		width: 80%;
	}

	.testimonials-posts-post-placeholder {
		max-width: 640px;
		max-height: 480px;
		margin: 0 auto;
	}

}
@media only screen and (min-width: $large) {

	.testimonials-header {
		width: 75%;
		font-size: 9rem;
		margin-left: 25%;
		margin-right: 0;
	}



}