@media only screen {

	.testimonials-header {
		width: auto;
		margin: 0 auto;
	}
	.testimonials-posts {
		font-size: 0;
	}

	.testimonials-posts-post {
		margin: 4rem 1rem;
	}

	.testimonials-posts-meta {
		text-align: left;
		font-size: 100%;
	}
	.testimonials-posts-meta-title{
		font-size: 2.6rem;
		padding: 5px 0px;
	}
	.testimonials-posts-meta-subtitle {
		display: inline-block;
		font-size: 1.8rem;
		padding: 5px 0px;
		a {
			text-decoration: none;
			margin-right: 10px;
		}
	}

	.testimonials-posts-post-placeholder {
		width: 100%;
		height: 100%;
	}
	.testimonials-posts-post-iframe {
		width: 100%;
		height: 100%;
	}
	.testimonials-posts-video {
		margin: 1rem auto;
		width: 100%;
		height: 100%;
		object-fit: cover;
		iframe {
			min-height: 260px;
		}
	}
	/* 	Home Testimonials
			Move to its own SCSS file; but for now its good to see these 'linked' modules together
	*/
		.hometestimonials-section { // top-level for the module;
			padding: 4rem 0;
		}

		.hometestimonials-section-slide {
			padding: 2rem;
			text-align: center;
			overflow: hidden;
			box-shadow: 0 0 1rem transparentize( $offblack, 0.5 );
		}
		.hometestimonials-section-slide-header {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 2.8rem;
			padding: 1rem 0;
			margin: 1rem 0;
		}
		.hometestimonials-section-slide-iframe {
			iframe {
				width: 100%;
				object-fit: cover;
			}
		}

		// swiper.js layout modifications:
		.swiper-container {
			margin: 0 auto;
			padding: 4rem;
		}
		.swiper-wrapper {

			// use flexbox for vertical center 
			-webkit-box-align: center;
			-moz-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
		.swiper-button-next {
			right: 0;
		}
		.swiper-button-prev {
			left: 0;
		}
}
@media only screen and (min-width: $medium) {
	.testimonials-posts-post {

	}


	.testimonials-posts-post-placeholder {
		max-width: 640px;
		max-height: 480px;
		margin: 0 auto;
	}
	
	/* 
		Hometestimonials Section;
	*/
		.swiper-container {
			width: 80%;
		}

}
@media only screen and (min-width: $large) {

	.testimonials-header {
		font-size: 7rem;
		margin-bottom: 4rem;
	}

	.testimonials-posts {
		margin: 4rem auto;
		margin-left: 5%;
	}

	.testimonials-posts-post {
		display: inline-block;
		padding: 2rem 0;
		padding-top: 0;
		width: 45%;
		margin: 1rem;
	}




}