// Hidden On Mobile
@media only screen {
	.footer{
		display: none;
	}
	.footer-middlecolumn1-sitemap{
		display: none;
	}
	.copyright{
		display: none;
	}
}
// Only Desktop:
@media only screen and (min-width: $large){
	.footer{
		display: block;
		background-color: $lightgrey;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
		ul{
			list-style: none;
		}
	}
	.footer-wrap{
		padding: 40px;
		font-size: 0;
		max-width: 1440px;
		margin: 0 auto;
		text-align: center;
	}
	/* 
		First Row (siteLinks)
	*/
	.footer-pagelinks{
		width: 60%;
		padding: 20px 0;
		&:before,
		&:after{
			content: '';
			width: 200px;
			display: block;
		}
		&:before{
			margin-bottom: 20px;
		}
		&:after{
			margin-top: 15px;
		}
	}
	.footer-pagelinks{
		font-size: 0;
		width: 100%;
		> .footer-pagelinks-item {
			display: inline-block;
			font-size: 1.6rem;
			width: calc(25% - 20px);
			vertical-align: top;
			> .footer-pagelinks-item-link{
				font-weight: 700;
				font-size: 2.6rem;
				cursor: default;
			}
		}
		.sub-menu{
			.footer-pagelinks-item{
				display: block;
			}
			.footer-pagelinks-item-link{
				text-transform: none;
				font-size: 1.6rem;
				font-weight: 500;
			}
		}
	}
	.footer-pagelinks-item{
		display: inline-block;
		padding-right: 20px;
	}
	.footer-pagelinks-item-link{
		color: $offblack;
		text-transform: uppercase;
		text-decoration: none;
		padding-bottom: 10px;
		display: inline-block;
		font-size: 1.6rem;
	}
	/* 
		Second Row (social)
	*/
	.footer-social{
		margin: 0 auto;
		font-size: 1.6rem;
	}

	.footer-social-subscribe{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		position: relative;
		padding: 1rem 2rem;
		margin: 1rem 2rem;
	}
	#mce-EMAIL {
		display: inline-block;
		overflow: hidden;
		width: 100%;
		text-align: center;
		padding: 1rem;
	}
	.footer-social-subscribe-content-header{
		font-weight: 700;
		font-size: 2.6rem;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.footer-social-subscribe-content-form-input{
		font-size: 1.5rem;
		padding: 5px 8px;
	}
	.footer-social-subscribe-content-form-submit{
		-webkit-appearance: none;
		background-color: $blue;
		color: white;
		border: none;
		font-size: 1.5rem;
		padding: 7px 10px;
		text-transform: uppercase;
		margin-top: 2rem;
	}

	/* 
		Social Icons 
	*/
	.footer-social-links,
	.footer-social-links-item,
	.footer-social-links-item-link,
	.footer-social-links-item-link-icon, {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		color: $offblack;
		text-align: center;
	}
	.footer-social-links {
		margin: 0 auto;
	}
	.footer-social-links-item-link-icon {
		@include centerer;
		@include transition(color 0.3s ease);
		font-size: 3.6rem;

	}
	.footer-social-links-item-link {
		background: $blue;
		border-radius: 50%;
		width: 6.6rem;
		height: 6.6rem;
		margin: 0 1rem;
		&:hover {
			i {
				color: $lightgrey;
			}
		}
	}
	/*
		copyright
	*/
	.copyright{
		color: $offblack;
		font-size: 1.3rem;
		text-align: left;
		width: 100%;
		display: block;
		background-color: $lightgrey;
		padding: 80px 40px 20px 40px;
		box-sizing: border-box;
	}
	.copyright-wrapper{
		max-width: 1440px;
		margin: 0 auto;
	}
	.copyright-tclink{
		color: $offblack;
		font-weight: 500;
		margin-right: 10px;
	}	
}