@media only screen {
	.header{
		display: none;
		}
	.removefadein{
		div:last-of-type{
			opacity: 1;
		}
	}

	.header-fixed {
		display: none;
	}

	.header-content-rightwrap {
		position: relative;
	}

	.header-ghosted {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
		.header-tint,
		.mobileheader-bar-tint {
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
			background-color: transparent;
			background: transparent;
		}
		.header-content {
			a {
				color: $lightgrey;
			}
			.sub-menu a {
				color: $offblack;
			}
		}
			i {
			color: $lightgrey;
		}
		.header-content-menus-pages-tel span {
			color: $lightgrey;
		}
	}
}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	/* 
		Fixed C2A's
			Book + Tel
	*/
	.header-fixed {
		position: fixed;
		top: 12rem;
		right: 0;
		z-index: 4;
		display: inline-block;
	}
	.header-fixed-tel,
	.header-fixed-book {
		margin: 1rem auto;
		background: $blue;
		height: 5.8rem;
		width: 28rem;
		box-shadow: 0 0 1px 1px transparentize( black, 0.66 );
		text-align: right;
		a, i {
			color: $lightgrey;
			font-weight: 500;
			position: absolute;
			display: inline-block;
			top: 50%;
			@include transform(translate(0, -50%));
		}
		i {
			top: 50%;
			left: 1rem;
			font-size: 2.8rem;
			padding: 1rem;
		}
		a {
			text-decoration: none;
			text-transform: uppercase;
			overflow: hidden;
			transform-origin: 100% 50%;
			right: 2rem;
			font-size: 2rem;
		}
	}
	.header-fixed-tel {
		position: relative;
		a {
			position: relative;
			overflow: visible;
		}
		span {
			color: $lightgrey;
			position: absolute;
			z-index: 10;
			top: 90%;
			right: 0.5rem;
			font-size: 1.4rem;
		}
	}
	.header-fixed-collapsed {
		@include transition(all 0.3s ease);
		@include transform(translateX(22rem));
		&:hover {
			@include transform(translateX(0));
		}
	}
	/* 
		End Fixed C2As
	*/		
	.header-content-logo-wrapper {
		display: inline-block;
		position: relative;
		min-width: 130px;
		text-align: center;
	}
	.header {
		display: block;
		position: fixed;
		top: 0;
		left: 0px;
		z-index: 10;
		width: 100%;
	}
	.header-content{
		padding: 10px 20px;
		font-size: 0;
		text-align: justify;
		text-justify: distribute;
		max-width: 1440px;
		margin: 0 auto;
		&:after{
			content: '';
		    display: inline-block;
		    width: 100%;
		    height: 0;
		    font-size:0;
		    line-height:0;
		}
	}

	.header-content-logo,
	.header-content-rightwrap,
	.header-content-menus,
	.header-content-bookappointment,
	.header-content-menus-pages {
		display: inline-block;
		vertical-align: middle;
		text-align: initial;
	}
	.header-content-menus-pages {
		height: 5rem;
	}
	.header-content-menus-pages-tel {
		font-size: 2.4rem;
		// vertical-align: top;
		display: block;
		text-align: right;
		text-decoration: none;
		font-weight: 400;
		position: relative;
		bottom: 2px;
		span {
			color: $offblack;
			display: none;
		}
	}

	.header-content-bookappointment{
		font-size: 1.6rem;
		text-align: center;
		text-transform: uppercase;
		background-color: $blue;
		padding: 16px 10px;
		display: inline-block;
		position: relative;
		bottom: 0px;
		margin-left: 10px;
		font-weight: normal;
		text-decoration: none;
		border-radius: 4px;
		color: white;
	}
	.header-content-logo{
		padding-right: 10px;
	}
	.header-content-logo-image{
		max-width: 195px;
		max-height: 56px;
	}
	.header-content-menus-pages-menu{
		font-size: 0;
		text-align: right;
		position: relative;
		top: 5px;
		> .header-content-menus-pages-menu-item {
			padding-left: 30px;
			> .header-content-menus-pages-menu-item-link{
				font-weight: 700;
			}
		}
	}
	.header-content-menus-pages-menu-item{
		display: inline-block;
		margin: 0 5px;
		position: relative;
		&.has-children{
			&.hovered{
				.sub-menu{
					display: block;
				}
			}
		}
		.sub-menu{
			position: absolute;
			z-index: 20;
			left: calc(50% + 15px);
			width: 160%;
			padding-top: 30px;
			background-color: white;
			@include transform(translateX(-50%));
			text-align: center;
			box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
			display: none;
			&:before{
				content: '\25BC';
				display: block;
				position: absolute;
				color: $blue;
				font-size: 1.6rem;
				left: 50%;
				@include transform(translateX(-50%));
				top: 8px;
			}
			.header-content-menus-pages-menu-item{
				display: block;
				margin: 0px;
				&:not(:last-child){
					border-bottom: 1px solid lightgrey;
				}
			}
			.header-content-menus-pages-menu-item-link{
				display: block;
				padding: 10px;
				font-weight: 400;
				font-size: 1.3rem;
				@include transition(background-color 0.4s ease, color 0.4s ease);
				&:hover{
					background-color: $lightgrey;
					color: $blue
				}
			}
		}
	}
	.header-content-menus-pages-menu-item-link{
		font-family: $mainfont;
		color: $offblack;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.6rem;
		letter-spacing: 1px;
	}
	.header-tint{
		background-color: white;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 78px;
		z-index: -1;
		@include transition(background-color 0.3s ease);
	}
	.topbar-removed{
		height: 82px;
	}


}
@media only screen and (min-width: $xlarge){
	.header-content-menus-pages-menu-item{
		margin: 0 7px 0 10px;
	}
}