@media only screen {
	.section{
		text-align: center;
		padding: 40px 20px;
	}
	.section-header{
		font-weight: 900;
		font-size: 3.6rem;
		letter-spacing: -2px;
		text-align: center;
		line-height: 1;
		margin-bottom: 40px;
	}	

	body {
		overflow-x: hidden;
	}
}
@media only screen and (min-width: $medium){
	.section{
		padding: 40px;
	}
}
@media only screen and (min-width: $large){
	.section{
		padding: 80px 40px;
		min-height: 50vh;
	}
	.section-wrapper{
		max-width: 1440px;
		margin: 0 auto;
	}	
	.section-header{
		font-size: 11rem;
		// width: 640px;
	}
}

@media only screen and (min-width: 1520px){
	
}