// breakpoints

$medium: 641px;
$large: 1025px;
$xlarge: 1440px;

// colors
$blue: #27A8E0;
$red: #E4572E;
$yellow: #F9AC00;
$darkyellow: #D49100;
$offblack: #2E282A;
$green: #76B041;
$darkgreen: #618E32;
$lightgrey: #F5F5F5;
$babyblue: #56bbe7;

// fonts
$mainfont: 'Proxima Nova', Arial, sans-serif;

// other
$boxshadow: 0px 3px 5px rgba(0,0,0,0.15);