//////////////////////////
// global & reset stuff //
//////////////////////////

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import "flex", "fonts", "vars", "mixins";

html,body{
	width: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html{
	font-size: 62.5%; // base 10 for fonts
	font-family: $mainfont;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 400;
}
body{
	font-size: 1.6rem;
	font-weight: 300;
}

*{
	outline-color: $blue;
	color: $offblack;
}


// borderbox
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
// Beautiful Scrollbars
.pc{
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.2);
	    box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}


@import "global";
@import "fadeeffects";
@import "gform";
@import "pages/404";
@import "lity";
@import "baguetteBox";
@import "parallax";
@import "global-sociallinks";

@import "partials/header";
@import "partials/mobileheader";
@import "partials/footer";
@import "partials/mobilefooter";
@import "partials/searchform";

@import "pages/home-hero";
@import "pages/home-benefits";
@import "pages/home-testimonials";
@import "pages/home-pricing";


@import "pages/page";

@import "pages/faq";
@import "pages/testimonials";
@import "pages/pricing";
@import "pages/gallery";
@import "pages/blog";
@import "pages/locations";
@import "pages/location";
@import "pages/contact";
@import "pages/single";
@import "pages/dreamscapes";